<html>
<head>
    <meta name="decorator" content="admin">
    <title>${i18n.getText("ru.mail.jira.plugins.disposition.web.jql.title")}</title>
</head>
<body>

<style type="text/css">
    form.aui .field-value.success {color:#006400;}
    form.aui .field-value {color:#640000;}
</style>

<script type="text/javascript">
    (function($) {
        JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED, function (e, context) {
            AJS.$('#typeId').change(function(){
                AJS.$('#field-group-1, #field-group-2').hide();
                AJS.$('#field-group-' + $(this).val() ).show();
            });

            AJS.$('#typeId').trigger('change');
        });
    })(AJS.$);
</script>

<form id="disposition-configure-form" method="post" class="aui"
      action="${req.contextPath}/secure/ConfigureJqlAction.jspa">
    <div class="form-body">

        <h2>${i18n.getText("ru.mail.jira.plugins.disposition.web.jql.title")}</h2>

        #foreach($error in $errorMessages)<div class="aui-message error"><span class="error-icon"></span>$error</div>#end

        <fieldset>
            <div class="field-group">
                <label for="typeId">${i18n.getText("ru.mail.jira.plugins.disposition.web.select.query")}</label>


                <select id="typeId" name="typeId">
                    #foreach ($option in $configType.entrySet())
                        <option value="$option.key" #if ($option.key == $typeId) selected="true" #end>${i18n.getText("$option.value")}</option>
                    #end
                </select>

                <div class="description">${i18n.getText("ru.mail.jira.plugins.disposition.web.select.query.description")}</div>
                #if ($action.getErrors().get("typeId"))
                    <div class="error">$textutils.htmlEncode($action.getErrors().get("typeId"))</div>
                #end
            </div>
        </fieldset>

        <fieldset>
            <div class="field-group" id="field-group-1">
                <label for="jql">${i18n.getText("ru.mail.jira.plugins.disposition.web.jql")}</label>
                <input id="jql" name="jql" #if ($jql) value='$jql' #end type="text" class="text long-field"/>
                <div class="description">${i18n.getText("ru.mail.jira.plugins.disposition.web.jql.description")}</div>
                #if ($action.getErrors().get("jql"))
                    <div class="error">$textutils.htmlEncode($action.getErrors().get("jql"))</div>
                #end
            </div>
        </fieldset>

        <fieldset>
            <div class="field-group" id="field-group-2">
                <label for="filter_filterId_name">${i18n.getText("ru.mail.jira.plugins.disposition.web.saved.filter")}</label>
                #if ($filterId)
                    <span id="filter_filterId_name" class="filterpicker-value-name field-value success" style="text-decoration: underline; cursor: pointer;">
                        $filter.name
                    </span>
                    <input class="aui-field hidden" id="filter_filterId_id" name="filterId" value="$filterId"/>
                #else
                    <span id="filter_filterId_name" class="filterpicker-value-name field-value" style="text-decoration: underline; cursor: pointer;">
                        ${i18n.getText("ru.mail.jira.plugins.disposition.web.filter.not.selected")}
                    </span>
                    <input class="aui-field hidden" id="filter_filterId_id" name="filterId"/>
                #end

                <div class="description">${i18n.getText("ru.mail.jira.plugins.disposition.web.saved.filter.description")}</div>
                #if ($action.getErrors().get("filterId"))
                    <div class="error">$textutils.htmlEncode($action.getErrors().get("filterId"))</div>
                #end
            </div>
        </fieldset>

    </div>

    <div class="buttons-container form-footer">
        <div class="buttons">
            <input class="button submit" type="submit" value="${i18n.getText('common.words.save')}" >
            <a accesskey="`" class="cancel" href="#" id="cancel-button" title="${i18n.getText('common.words.cancel')}">${i18n.getText("common.words.cancel")}</a>
        </div>
    </div>


    <input type="hidden" name="customFieldId" value="$action.getCustomField().getIdAsLong()">
    <input type="hidden" name="fieldConfigId" value="$fieldConfigId">

</form>
</body>
</html>