<html>
<head>
    <meta name="decorator" content="panel-general">
    <title>${i18n.getText("ru.mail.jira.plugins.disposition.web.reindex.title")}</title>
</head>
<body>

$webResourceManager.requireResource("ru.mail.jira.plugins.jira-issues-disposition:init-user-picker")

<form id="reindex-issues" class="aui" action="ResetIssuesDispositionAction.jspa" method="POST">
    <h2>${i18n.getText("ru.mail.jira.plugins.disposition.web.reindex.description")}</h2>

    #foreach($error in $errorMessages)<div class="aui-message error"><span class="error-icon"></span>$error</div>#end

    <table >
        <tbody>
            <tr>
                <td>
                    <select data-container-class="long-field" data-user-type="assignee" data-show-dropdown-button="true"
                            class="single-user-picker custom-assignee-picker" name="assignee" id="assignee" style="display: none;"
                            multiple="">
                        <optgroup data-weight="0" label="Suggestions" id="assignee-group-suggested">
                            #if ($assignee)
                                <option data-field-label="$textutils.htmlEncode($assignee)" data-field-text="$textutils.htmlEncode($assignee)" value="$textutils.htmlEncode($assignee)"
                                    selected="selected">$textutils.htmlEncode($assignee)
                                </option>
                            #else
                                <option data-field-label="$remoteUser.name" data-field-text="$remoteUser.name" value="$remoteUser.name"
                                    selected="selected">$remoteUser.name
                                </option>
                            #end
                        </optgroup>
                    </select>
                    <div class="description">${i18n.getText("ru.mail.jira.plugins.disposition.web.reindex.user.description")}</div>
                    #if ($action.getErrors().get("assignee"))
                        <div class="error">$textutils.htmlEncode($action.getErrors().get("assignee"))</div>
                    #end
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text" id="step" name="step" #if ($step) value="$step" #end />
                    <div class="description">${i18n.getText("ru.mail.jira.plugins.disposition.web.reindex.step.description")}</div>
                    #if ($action.getErrors().get("step"))
                        <div class="error">$textutils.htmlEncode($action.getErrors().get("step"))</div>
                    #end
                </td>
            </tr>

            <tr>
                <td>
                    <input
                        type="checkbox"
                        id="skipReindex"
                        name="skipReindex"
                        #if ($skipReindex) checked="true" #end
                        value="true"
                        onchange="AJS.$('#step').attr('disabled', this.checked)"
                    />
                    <div class="description">${i18n.getText("ru.mail.jira.plugins.disposition.web.reindex.skipReindex.description")}</div>
                </td>
            </tr>

            <tr>
                <td>
                    <input class="button" type="submit" value='${i18n.getText("ru.mail.jira.plugins.disposition.web.reindex.button.reindex")}' id="reindex-btn">
                </td>
            </tr>

        </tbody>


    </table>







</form>

</body>
</html>